.bonuses {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 500px;
    h2 {
        font-weight: 700;
        font-size: 30px;

        color: #ffffff;
        margin-bottom: 75px;
    }

    .buttons {
        display: flex;
        gap: 45px;
        .button {
            width: 355px;
            height: 75px;
            background: linear-gradient(90deg, #eda90d 0%, rgba(237, 169, 13, 0.15) 100%);
            border-radius: 15px;
            margin-right: 45px;
            display: flex;
            align-items: center;
            gap: 50px;
            padding: 11px;

            a {
                font-weight: 600;
                font-size: 20px;

                color: #ffffff;
            }
        }
    }
}
