.accordeon {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;

    .heading {
        max-width: 1195px;
        color: white;
        display: flex;
        align-items: center;
        background: #141318;
        border-radius: 10px;

        color: #ffffff;
        padding: 20px;
        margin-bottom: 25px;

        background: linear-gradient(90deg, rgba(237, 169, 13, 0.37) 0%, rgba(20, 19, 24, 0) 101.38%);

        .number {
            background: linear-gradient(180deg, #eda90d 0%, rgba(237, 169, 13, 0.4) 100%);
            border-radius: 10px;
            width: 60px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
        }
        .heading_text {
            font-weight: 700;
            font-size: 20px;
            margin-right: 60px;
        }
        .right {
            font-weight: 700;
            font-size: 30px;

            color: #ffffff;
        }
        .acc_open {
            transition: linear 0.2s;
            transform: rotate(90deg);
        }
    }
    .content {
        min-height: 180px;
        background: #141318;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        padding-top: 30px;
        // padding-left: 25px;
        margin-bottom: 70px;
    }
    .content::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 15px;
        margin-left: 25px;
        margin-top: 5px;

        background: #eda90d;
    }
}
