// .mainConteiner {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     margin-top: 125px;

.Main {
    h2 {
        font-weight: 700;
        @include adaptiv-font(32, 22);

        line-height: 42px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 45px;

        text-shadow: 0px 4px 25px #eda90d;
    }
    .weapons {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
        padding-left: 60px;
    }
    .weapons::-webkit-scrollbar {
        display: none;
    }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    .weapons {
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
    }

    .caseCollection {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
// }
// @media (max-width: 1200px) {
//     .main {
//         max-width: 1100px;
//     }
// }
