.Navbar {
    padding: 10px;

    display: flex;
    @include adaptiv-font(16, 12);
    align-items: center;
    justify-content: space-between;

    .navL {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .logo {
            width: 100px;
            height: 50px;
            margin-right: 30px;
        }
        a {
            color: white;
            text-decoration: none;
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #eda90d;
            text-decoration: underline;
        }
        @media (max-width: 1200px) and (min-width: 768px) {
            .logo {
                width: 66px;
                height: 33px;
            }
            gap: 20px;
        }
        @media (max-width: 768px) and (min-width: 320px) {
            .logo {
                width: 56px;
                height: 27px;
            }
            gap: 20px;
        }
    }
    .navR {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-font(16, 12);

        button {
            color: white;
            width: 115px;
            height: 50px;
            background: linear-gradient(180deg, rgba(132, 40, 40, 0.09) 0%, #cb4e4e 100%);
            border-radius: 10px;
        }
    }
}
.active > span {
    color: #eda90d;
    text-decoration: underline;
}
