.weapon {
    width: 185px;
    height: 80px;

    background: linear-gradient(180deg, rgba(237, 169, 13, 0.09) 0%, #eda90d 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        color: #ffffff;
        margin-top: 40px;
        margin-left: 10px;
        h3 {
            @include adaptiv-font(16, 10);
        }
        p {
            @include adaptiv-font(12, 6);
        }
    }

    .weapon_image {
        position: relative;
        .background_weapon {
            position: absolute;
            right: 10px;
            top: 30px;
            z-index: -1;
            width: 61px;
            height: 41px;
            background: #ffffff;
            filter: blur(2px);
            border-radius: 20px;
        }

        img {
            filter: none;

            width: 105px;
            height: 105px;
        }
    }
    @media (max-width: 1200px) and (min-width: 768px) {
        width: 105px;
        height: 45px;
        gap: 17px;
        .text {
            margin-top: 30px;
        }
        .weapon_image {
            width: 80px;
            height: 80px;
        }
        .background_weapon {
            width: 51px;
            height: 31px;
        }
    }
    @media (max-width: 768px) and (min-width: 320px) {
        width: 105px;
        height: 45px;
        gap: 17px;
        .weapon_image {
            width: 60px;
            height: 60px;
        }
        .background_weapon {
            width: 31px;
            height: 11px;
        }
    }
}
