@import './null';
@import './Main';

@import './Navbar';
@import './Profile';
@import './Weapon';
@import './Case';
@import './Footer';
@import './SidebarL';
@import './Chat';
@import './Massage';
@import './Games';
@import './Error';
@import './Help';
@import './Bonuses';
@import './NavProfile';
@import './Contacts';
@import './Agreement';
@import './Politic';
@import './SignButton';
@import './ModalSignIn';
@import './ModalSignUp';

head,
body {
    font-family: 'Raleway', sans-serif;
    background-color: black;

    overflow-x: hidden;
    position: relative;
}
// .App {
//     height: 100%;
//     width: 100vw;
//     position: relative;
//     border: 1px solid blue;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.App {
    display: grid;
    grid-template-columns: 75px 1fr 1fr;
    grid-template-rows: 75px 1fr 150px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'SidebarL Navbar Navbar'
        'SidebarL Main Main'
        'SidebarL Footer Footer';
}

.Navbar {
    grid-area: Navbar;
    background-color: #141318;
}

.SidebarL {
    grid-area: SidebarL;
}

.Footer {
    grid-area: Footer;
}

.Main {
    grid-area: Main;
}
